.Home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 150px;
}

.Home-text {
	max-width: 300px;
	padding-top: 3%;
}

.Home-logo {
	margin-top: 1%;
}

.new-button {
	border: 1px solid black;
	border-radius: 0.25em;
	color: black;
	background-color: white;
	padding: 6px 11px;
}

.new-button:hover {
	border: 1px solid black;
	border-radius: 0.25em;
	color: white;
	background-color: black;
	padding: 6px 11px;
	transition-delay: 0.05s;
}
